include LICENSES
include README.rst
global-exclude *.orig *.pyc *.log *.swp

recursive-include docs *
recursive-include folderless/locale *
recursive-include folderless/static *
recursive-include folderless/templates *
